

.homeContent{
    

    .imgHome{
        height: calc(100vh - 35px) ;
        width: 100vw;
        background: url('https://images.unsplash.com/photo-1453728013993-6d66e9c9123a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')no-repeat center;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        h1:hover{
           transform: scaleX(0.3)
          translateX(80px);
        }
    }
}